header{
  padding-top: 10px;
  background : url("https://www.avastmobileenterprise.com/hubfs/Remotuin-2016/Image/Form-Bg.png?t=1480609795260img");
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: times;
  font-size: 20px;
}

[class*="col-"]{
  border: 6px;
  line-height: 40px;
  text-align: center;
}
.logoreseau{
  color: blue;
}
i{
  color: #2B3F00;
}
#contenuCompetences div{
  text-align: center;
  font-family: times;
  font-size: 20px;
}
.couleur{
  background-color: #9EC643;
}
#contenuFormation div{
  text-align: left;
  background-color: #7FB306;
  font-family: times;
  font-size: 20px;
}
h2{
  color: black;
  text-align: center;
  font-style: italic;
}
#contenuExperience div{
  text-align: left;
  background-color: #5E8801;
  font-family: times;
  font-size: 20px;
}
#centresInterets div{
  background-color: #5A8006;
  font-family: times;
  font-size: 20px;
}
#contenuSavoirEtre div{
  background-color: #8ABA19;
  font-family: times;
  font-size: 20px;
}
nav{
  background-color: #7AAE5B;
  font-family: verdana;
  font-style: italic;
}
h4{
  text-decoration: none;
}
a{
  color: black;
  text-decoration:none
}
h3{
  color: green;
  text-align: center;
}
.title{
  display: flex;
  justify-content: center;
}
.picto{
  color : black;
}
