header {
  padding-top: 10px;
  background : url("https://www.avastmobileenterprise.com/hubfs/Remotuin-2016/Image/Form-Bg.png?t=1480609795260img");
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 410px;
}

[class*="col-"], footer {
  border: 6px;
  line-height: 40px;
  text-align: center;
}
.logoreseau
{
  color: blue;
}
i
{
  color: #970000;
}
#contenuCompetences div
{
  text-align: left;
  background-color: #6AF6AF;
}
#contenuFormation div
{
  text-align: left;
  background-color: #27BA5A;
}
h2
{
  color: black;
  text-align: center;
}
#contenuExperience div
{
  text-align: left;
  background-color: #B2D97E;
}
#centresInterets div
{
  background-color: #86FE35;
}
#contenuSavoirEtre div
{
  background-color: #B2D97E;
}
nav{
  background-color: grey;
}
h4
{
  text-decoration: none;
}
a
{
  color: black;
  text-decoration:none
}
